body {
  display: block;
  text-align: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #141414;
}
h1 {
  font-size: 4em;
  margin: 0;
  color: #faf9f6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-size: 1.5em;
  margin: 0;
  color: #faf9f6;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.top {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.top h1 {
  margin: 0;
}
.bottom {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bottom p {
  margin: 0;
}
